<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="LoginTestSuite" parallel="classes" thread-count="2">

    <parameter name="browser" value="chrome"/>

    <test name="ChromeTest">
        <parameter name="username" value="standard_user"/>
        <parameter name="password" value="secret_sauce"/>
        <classes>
            <class name="com.example.tests.HomeTest"/>
            <class name="com.example.tests.EndToEndTest"/>
        </classes>
    </test>

</suite>
